<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width,
initial-scale=1, shrink-to-fit=no"
    />
    <title>{% block title %}Мой сайт{% endblock %}</title>
  </head>
  <body>
    <div class="container-fluid">
        <li><a href="/jacket/" class="nav-link">Куртки</a></li>
        <li><a href="/shoes/" class="nav-link">Обувь</a></li>
        <li><a href="/clothing/" class="nav-link">Платья</a></li>
      </ul>
      </div>
    </div>
  </body>
</html>
